/* Resetting browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100px;
    background-image: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

main {
    overflow: hidden;
    background-image: linear-gradient(0deg,rgba(32, 67, 82, 1) 10%, rgba(31, 81, 105, 1) 29%, rgba(89, 140, 147, 1) 76%, rgba(132, 184, 178, 1) 100%);
}

/* Defining Main Page size */
.page {
    width: 950px;
    margin: 0 auto;
    background-color:bisque;
}
nav {
    float: left;
    width: 200px;
    height: 300px;
    background-color: rgb(226, 198, 163);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 10px;
}

article { /* Game "container"*/
    float: left;
    position: relative; /*HMMMMMM*/
    width: 750;
    /* height: 600px; */
    padding: 10px;
    background-color: bisque;
}

button {
    border-radius: 5px;
}

menu {
    height: 100px;
    background-color: #333;
    border-radius: 5px;
    list-style-type: none;
}
menu li a {
    display: block;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
menu li a:hover {
    background-color: slategrey;
    border-radius: 5px;;
}

#breadcrumbs {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.gameBoard {
    margin: 0 auto;
    width: 650px;
    height: 500px;
    padding: 20px;
    /* aspect-ratio: 700 / 600; */
    background-color: #586f6b;
}

footer {
    overflow: hidden;
    background-color: antiquewhite;
    text-align: center;
}