/* Resetting browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand'/* <--- Custom font name */, Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100px;
    background-image: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

main {
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(94, 19, 117, 0.73)),
    url("images/MenuBG.png"); /* Background image with added transparent gradient*/
}

/* Defining Main Page size */
.page {
    width: 950px;
    margin: 0 auto;
    background-color:bisque;
}
nav {
    float: left;
    width: 200px;
    height: 570px;
    background-image: url(images/MenuBG.png);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 10px;
}

article { /* Game "container"*/
    float: left;
    width: 750;
    min-height: 900px; 
    padding: 10px;
    background-color: bisque;
}

button {
    border-radius: 5px;
}

menu {
    height: 100px;
    background-color: #333;
    border-radius: 5px;
    list-style-type: none;
}
menu li a {
    display: block;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
menu li a:hover {
    background-color: slategrey;
    border-radius: 5px;;
}

#breadcrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 650px;
    text-align: center;
}

.gameBoard {
    margin: 0 auto;
    width: 650px;
    height: 500px;
    padding: 20px;
    /* aspect-ratio: 700 / 600; */
    background-color: #586f6b;
}

footer {
    overflow: hidden;
    background-color: antiquewhite;
    text-align: center;
}

/* CSS for the Contact-page */
legend {
    margin: 0 auto;
  }

  form {
    width: 250px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin: 0 10px;
  }

  input {
    margin: 10px 10px;
    width: 250px;
    padding: 10px;
    font-size: 125%;
  }

  textarea {
    width: 250px;
    margin: 10px 10px;
    padding: 10px;
    resize: vertical;
  }

  .sendButton {
    margin-left: 18px;
    color: steelblue
  }