/* Resetting browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand'/* <--- Custom font name */, Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100px;
    width: 100%; /* Specify width to stop the gradient from moving when resizing the window*/
    background-image: radial-gradient(circle, #f5f6fc85 0%, #332736ba 100%);
}

.logo {
    padding: 25px;
}

#logoStyle{
    font-size: x-large;
    font-weight: bold;
}

main {
    overflow: hidden;
    background-image: linear-gradient(to bottom, #f5f6fc85, #332736ba),
    url("images/we1-bgimg.png"); /* Background image with added transparent gradient*/
    background-size: auto;
}

/* Defining Main Page size */
.page {
    width: 950px;
    margin: 0 auto;
    background-color:bisque;
}
nav {
    float: left;
    width: 200px;
    height: 570px;
    background-image: radial-gradient(circle,#f5f6fc85, #332736ba);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 20px 0px 0px 0px;
}

a {
    text-decoration: none;
}

article { /* Game "container"*/
    float: left;
    width: 750;
    min-height: 900px; 
    padding: 10px;
    background-color: bisque;
    margin: 20px 0px 20px 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    color: #333;
}

menu {
    height: 95px;
    margin: 5px;
    background-color: #333;
    border-radius: 8px;
    list-style-type: none;
}

menu li a {
    display: block;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid transparent; /* Added transparent borders to prevent text from moving when hovered */
    border-bottom: 1px solid transparent; 
}
menu li a:hover {
    background-color: #18191b;
    border-top: 1px solid #ffc559;
    border-bottom: 1px solid #ffc559;
    border-radius: 8px;
    box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.25);
}

menu li a:active {
    box-shadow: inset 0px 3px 3px hwb(209 27% 63%);
}

.introTitle { /* Page title spacing */
    color: #333;
    margin-top: 5px;
    margin-bottom: 14px;
    padding: 20px;
    width: 650px;
    text-align: center;
}

p { /* Paragraph, line spaceing */
    padding: 5px;
}

.intro { /* Text spacing */
    color: #333;
    margin: 5px 5px;
    padding: 10px;
    width: 650px;
    text-align: center;
}

.gameBoard {
    margin: 0 auto;
    width: 650px;
    height: 500px;
    padding: 20px;
    /* aspect-ratio: 700 / 600; */
    border: 2px solid #130e14ba;
    background-color: #332736ba;
    border-radius: 10px;
}

iframe {
    padding-top: 20px;
}

footer {
    overflow: hidden;
    background-image: radial-gradient(circle,#f5f6fc85, #332736ba);
    width: 100%; /* Specify width to stop the gradient from moving when resizing the window*/
    text-align: center;
}


/* CSS for the Contact-page, specifically the FORM */
legend {
    margin: 0 auto;
    padding-bottom: 10px;
}

form {
    width: 250px;
    margin: 0 auto;
    padding-top: 10px;
}

label {
    display: block;
    margin: 0 10px;
}

input {
    width: 250px;
    margin: 4px 10px 10px 10px;
    padding: 10px;
    font-size: 125%;
}

textarea {
    width: 250px;
    margin: 4px 10px 10px 10px;
    padding: 10px;
    resize: vertical;
}

.sendButton {
    margin-left: 18px;
    color: #18191b;
}


/* CSS for the Game Assets*/
#gameBoard {
  text-align: center;
  line-height: 0;
  padding-top: 25px; /* Spacing of tiles on Y-axis of entire game board*/
}

/* .row {
  display: block;
} */

#Randomize {  /* CSS for randomize button */
  width: 110px;
  height: 30px;
  background-color: bisque;
  font-family: monospace;
}

/* CSS for the color change */
  button, .on {
  display: inline-block;
  width: 50px;
  height: 50px; /* adjust to control the size */
  border:1px solid #ffc757;
  background-color: #fca311;
}
      
button, .off { /* Default tile */
  display: inline-block;
  width: 50px;
  height: 50px; /* adjust to control the size */
  border:1px solid #001427;
  background-color: #63389c;
  border-radius: 50px; /* Circle shape */
}

button:hover{ /* Hover effect for the game tiles */
border: 1px solid #e5e5e5;
}

/* Misc Buttons/Controlls */
.buttons {
    margin-top: 30px;
    text-align: center;
}

#Randomize:hover {
    /* border-top: 1px solid #ffc559;
    border-bottom: 1px solid #ffc559;
    border-radius: 50px; */
    cursor: pointer;
}
